<footer style="display:flex; justify-content:center;">
    <span class="text-muted">随笔 © 属于你的空间 2017</span>
  </footer>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/axios/dist/axios.min.js"></script>
</html>